<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Advanced Machine Learning Analyses – Coming Soon</title>

  <link rel="stylesheet" href="static/style.css" type="text/css" />
</head>

<body>
  <header>
    <h1>Advanced Machine Learning Analyses</h1>
    <div class="actions">
      <a class="btn" href="/">← Back to Main Page</a>
      <a class="btn btn-primary" href="https://buymeacoffee.com/jmurillo" target="_blank">Buy Me a Coffee</a>\
    </div>
  </header>

  <main class="coming-soon-container">
    <h2>Page Coming Soon :)</h2>

    <div class="coming-img-wrapper">
      <img src="/static/ml_placeholder.png" alt="ML Coming Soon" class="coming-img" />
    </div>

    <div class="arrow-wrapper">
      <div class="arrow">⬇</div>
      <a class="btn btn-primary" href="https://buymeacoffee.com/jmurillo" target="_blank">Support Development</a>
      <p class="donation-msg">
         Any donation will absolve you from <strong>future paywalls</strong> for the initial analysis.
      </p>
    </div>
  </main>
</body>
</html>
